http://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df=pd.read_csv('C:\\Users\\hp\\AnacondaProjects\\ML_files\\UCI_Credit_Card.csv',index_col='ID')

In [5]:
df.shape

(30000, 24)

In [6]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
2,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
3,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
4,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
5,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [7]:
df.isnull().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [24]:
a=[1,2,3]
df['EDUCATION']=[ i  if  i  in a  else 0 for i in df['EDUCATION']]

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [28]:
x=df.iloc[:,:24]
y=df.iloc[:,-1]

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=10)

In [46]:
#sv=SVC(kernel='linear')
#sv.fit(x_train,y_train)

In [47]:
#pred=sv.predict(x_test)

In [48]:
#accuracy_score(pred,y_test)

In [49]:
log=LogisticRegression()
log.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [50]:
pred=log.predict(x_test)

In [51]:
accuracy_score(pred,y_test)

0.7755555555555556

In [52]:
from sklearn.metrics import confusion_matrix

In [53]:
confusion_matrix(y_test,pred)

array([[6979,    3],
       [2017,    1]], dtype=int64)

In [54]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()

In [55]:
x_train=sc_x.fit_transform(x_train)

In [56]:
x_test=sc_x.transform(x_test)

In [57]:
log.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [58]:
pred=log.predict(x_test)

In [59]:
accuracy_score(pred,y_test)

1.0

In [44]:
confusion_matrix(y_test,pred)

array([[4683,    0],
       [   0, 1317]], dtype=int64)

In [6]:
np.log(10+)

2.3026850879943788